/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff8f0;
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: #1f2a44;
  font-weight: 700;
}
